{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <img src="{{ asset('img/logo.png') }}" alt="Logo Tutti frutti"/>

        <div id="btn-container">
            <a class="header-btn" href="/profil">Mes favoris</a>
            <a class="header-btn" href="/logout">Se déconnecter</a>
        </div>
    </header>

    <main>
        {{ form_errors(searchForm) }}
        {{ form_start(searchForm) }}

        {{ form_row(searchForm.fruit, {'attr': {"class": "search-element", "placeholder": "Search Fruit..."}}) }}

        {{ form_end(searchForm) }}

        <section id="search-result-container">

        </section>
    </main>
{% endblock %}
